

#content{
    text-align: center;
    border: 2px solid orange;
    width: 50%;
    margin: 10px auto ;
}
div{
    font: bold;
    font-size: large;
    margin: 10px;
    padding:10px;
}

#btn ,#button1, #button2{
    border: 2px solid orange;
    background: orange;
    color: white;
    border-radius: 5px;
}

#btn:hover{
    color: orange;
   background: white;
}

#btn:focus{
    outline: none;
}